<div style="text-align:left;margin-top: 20px;margin-bottom: 20px">
  <button *ngIf="!isLoggedIn" type="button" (click)="handleClick($event)" style="margin-left: 40px"
    class="btn btn-primary">Sign in with
    Twitter</button>
  <button *ngIf="isLoggedIn" type="button" (click)="getTweets()" class="btn btn-primary">Fetch tweets from
    Database</button>
  <button *ngIf="isLoggedIn" style="float: right" type="button" (click)="logOut()" class="btn btn-primary">Log
    Out</button>
</div>

<div *ngIf="isLoggedIn">
  <div class="col s12">
    <div class="from_to ">
      <div class="row">
        <div class="col s5">
          <label>From:</label>
          <input type="text" id="fromDate">
        </div>
        <div class="col s5">
          <label>To:</label>
          <input type="text" disabled id="toDate">
        </div>
        <div class="col s2">
          <button (click)="searchTweet()" class="btn color_blue"> go</button>
        </div>
      </div>
    </div>
    <div>
      <input class="form-control" [(ngModel)]="searchText" type="text" placeholder="Search" aria-label="Search Tweets"
        style="width: 400px; margin-left: 40px; float: left;">
      <button style="float: left;" (click)="searchTweet()" class="btn btn-primary">Search</button>
    </div>
    <div style="float: left">
      <p>
        <label>
          <input (click)="getFavourites()" id="chkval" type="checkbox" />
          <span>Show only favourites Tweets</span>
        </label>
      </p>
    </div>
  </div>

  <div *ngFor="let item of tweetsArray;let i=index" class="row">
    <div class="col s12 m6" style="display: inline-block">
      <div class="card blue ">
        <div class="card-content white-text" style="height: 114x">
          <p>{{ i+1 }}) {{item?.text}}
            <img (click)="editTweet(i, item?._id, item?.text)" style="margin-left: 15px" src="../assets/images/edit.png"
              height="18" width="18">
            <img (click)="deleteTweet(i, item?._id)" style="margin-left: 15px" src="../assets/images/delete.png"
              height="18" width="18">
            <img *ngIf="!item?.isFavourite" (click)="makeFavourite(i, item?._id)" src="../assets/images/star.png"
              style="float: right">
            <img *ngIf="item?.isFavourite" (click)="makeFavourite(i, item?._id)" src="../assets/images/favourite.png"
              style="float: right">
          </p>
          <button *ngIf="activeEdit == i" (click)="saveTweet(i)" class="btn btn-primary">Save</button>
          <div *ngIf="activeEdit == i" class="col">
            <input type="text" [(ngModel)]="tweetContent" class="form-control" style="width: 337px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- loader -->

<div class="custom-overlay sidebar-overlay active" *ngIf="loading"></div>
<div *ngIf="loading" class="spinner">
  <svg version="1.1" id="L5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
    <circle fill="#4c5d62" stroke="none" cx="6" cy="50" r="6">
      <animateTransform attributeName="transform" dur="1s" type="translate" values="0 15 ; 0 -15; 0 15"
        repeatCount="indefinite" begin="0.1" />
    </circle>
    <circle fill="#4c5d62" stroke="none" cx="30" cy="50" r="6">
      <animateTransform attributeName="transform" dur="1s" type="translate" values="0 10 ; 0 -10; 0 10"
        repeatCount="indefinite" begin="0.2" />
    </circle>
    <circle fill="#4c5d62" stroke="none" cx="54" cy="50" r="6">
      <animateTransform attributeName="transform" dur="1s" type="translate" values="0 5 ; 0 -5; 0 5"
        repeatCount="indefinite" begin="0.3" />
    </circle>
  </svg>
</div>
<router-outlet></router-outlet>