
.from_to { width:900px; height:auto; float:left; }
.from_to label { width:auto; height:auto; float:left; color:#282828; font:14px/32px 'Poppins'; }
.from_to input[type=text]:not(.browser-default) { width:54%; height:32px; float:right; color:#282828; font:14px/32px 'Poppins'; border:1px solid #ececec; padding:0 30px 0 10px; }